*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #325767 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
  font-weight: bolder !important;
}

.btn-secondary{
  background-color:  #f149b1 !important;
}


.cal{
  display: flex;
  flex-direction:column;
  width:325px;
  height:320px;
  padding:12px;
  border: 1px solid lightblue;
  justify-content: space-evenly;
  background-color:#5b799b;
  border-top-left-radius: 20px; 
}
.numbers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.num{
  margin:2px;
  width:55px;
}
.ans{
  flex-grow: 2;
}

.btn:focus{
  outline:none !important;
  border:none;
}
