*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #202249 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
  font-weight: bolder !important;
}

.cal{
  display: flex;
  flex-direction:column;
  width:325px;
  height:320px;
  padding:12px;
  border: 1px solid #7282e6;
  justify-content: space-evenly;
  background-color:#5b5e9b;
  border-top-left-radius: 20px; 
}
.numbers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.btn-secondary{
  background-color: #163327 !important;
  border-color:none;
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary:focus{
  border:none !important;
  outline: none !important;
  box-shadow: none !important;
}

.num{
  margin:2px;
  width:55px;
}
.ans{
  flex-grow: 2;
}
